{% extends 'militaryOS/base.html' %}
{% block title %}Distance learning{% endblock %}
{% load static %}
{% block content %}
    <div class="all-title-box" style="background: url({% static 'militaryOS/images/distance_courses5.jpg' %})no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-height: 1000px;">
	</div>
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
					<h1>Distance Learning</h1>
                </div>
            </div><!-- end title -->

            <hr class="invis">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/distance_courses1.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="https://www.classcentral.com/course/youtube-soldiers-in-history-military-technologies-90029/classroom" title="">Soldiers in History, Military Technologies</a></h2>
							</div>
							<div class="course-desc">
								<p>Syllabus: The Roman Legionaries (Elite Heavy Infantryman). Red Army Assault Sappers (World War II). EOD Blast Suit (Juggernaut). Buccaneers. Sniper Decoys: Dummy Heads. Janissary (Elite Ottoman Infantry Unit). Spetsnaz (Soviet Afghanistan war).</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/distance_courses6.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="https://www.classcentral.com/course/udemy-self-defense-training-military-grade-jiu-ji-41680" title="">Self Defense Training Military Grade Jiu Jitsu - Best Course</a></h2>
							</div>
							<div class="blog-desc">
								<p>Every Self Defense Technique You NEED to Know in One Course!</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->

			<hr class="hr3">

			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/distance_courses7.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="https://www.classcentral.com/course/udemy-the-complete-guide-to-an-effective-military-36670" title="">Military Transition: Life Coaching for Ex-Military Personnel</a></h2>
							</div>
							<div class="course-desc">
								<p>A life coaching programme for ex-military personnel to aid a smoother transition between military and civilian life.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
				<div class="col-lg-6 col-md-6 col-12">
                   <div class="course-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/distance_courses4.jpg' %}" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="https://www.classcentral.com/course/youtube-military-moments-history-90090/classroom" title="">Military Moments | History</a></h2>
							</div>
							<div class="course-desc">
								<p>Syllabus: Hjalmar Johansson: Teenage Prisoner of WWII | History.Battle of Midway Tactical Overview World War II | History.How The Tet Offensive Changed The Vietnam War | History.Veterans Day: Father Emil Kapaun, the Saint in the Foxhole | History…</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
			</div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}