{% extends 'militaryOS/base.html' %}
{% block title %}External form of education{% endblock %}
{% load static %}
{% block content %}
    <div class="all-title-box" style="background: url({% static 'militaryOS/images/marines_distance.jpg' %})no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-height: 300px;">
		<div class="container text-center">
			<h1>About University<span class="m_1">Aut cum scuto, aut in scuto.</span></h1>
		</div>
	</div>

<div id="overviews" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/marines_distance1.jpg'%}" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="blog-title">
								<h2><a href="#" title="">What opportunities are there for distance education for military members</a></h2>
							</div>
							<div class="blog-desc">
								<p>The topic of distance education for military members is one that is often overlooked despite its importance. When you consider that our troops are literally stationed around the world, it becomes clear that military distance education represent the only chance some military members have to further their education. The good news is that there are many avenues related to educational distance learning, including attending an online college and earning an online college degree. Military Connection is here to provide the very latest information regarding online courses and other avenues for pursuing educational opportunities from a distance.
									In most instances, flexibility is a key component to distance educational opportunities for military members. Online courses work well for distance learning programs because they fit the needs of a flexible schedule, which defines most military personnel, especially those overseas. The ability to complete assignments and programs within your own time frame is invaluable in allowing you to continue and complete your degree over time.
									Things can change at a moment’s notice for military personnel, who may literally be shipped to another location in another part of the world tomorrow. Given that possibility, you can see why online colleges are such a logical and effective option. Online degrees that allow for flexibility mean that no matter where you are stationed, the educational process can continue.
									The great thing about military distance education is that those in the military who are truly interested in pursuing educational opportunities have viable options with which to do so. Military Connection is here to show you what those options are, and to provide you with the information you need to pursue them. A variety of degrees are available online, so begin planning to further your education while you serve.
								</p>
							</div>
						</div>
					</div>

                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-categories">
						<h3 class="widget-title">Interesting pages</h3>
						<ul>
							<li><a href="distance_learning">Distance learning</a></li>
							<li><a href="#">Library</a></li>
							<li><a href="#">Science</a></li>
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}