{% extends 'militaryOS/base.html' %}
{% block title %}History of University{% endblock %}
{% load static %}
{% block content %}
	<div class="all-title-box" style="background: url({% static 'militaryOS/images/marines_history.jpg' %})no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center;
		min-height: 300px;">
		<div class="container text-center">
			<h1>History of University<span class="m_1">Marines have participated in all wars of the United States, being in most instances first, or among the first, to fight.</span></h1>
		</div>
	</div>
<!--	History-->
    <section class="section lb page-section">
		<div class="container">
			<div class="timeline">
				<div class="timeline__wrap">
					<div class="timeline__items">
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2>2020</h2>
								<p>86 graduates receive their diplomas from the USAFU and move directly into the U.S. Space Force.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2>1975</h2>
								<p>President Gerald R. Ford signs law that allows women to be admitted to the then all-male military colleges.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2>1959</h2>
								<p>The U.S. Air Force University (USAFU) graduates its first class of 207 cadets.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2>1947</h2>
								<p>Air Force becomes separate entity under the National Security Act and formation of an academy begins.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-01">
								<h2>1946</h2>
								<p>Seized from Germany following WWII, the Barque Eagle arrives at the USCGA.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-02">
								<h2>1939</h2>
								<p>Naval Academy Museum building, later named Preble Hall, is dedicated.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-03">
								<h2>1932</h2>
								<p>The U.S. Coast Guard Academy (USCGA) moves to its present-day location.</p>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__content img-bg-04">
								<h2>1917-1918</h2>
								<p>World War I; cadets and midshipmen from both the USMA and USNA graduate early to fill the  ranks during the conflict.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}