{% extends 'militaryOS/base.html' %}
{% block title %}Science{% endblock %}
{% load static %}
{% block content %}
    <div class="all-title-box" style="background: url({% static 'militaryOS/images/science.jpg' %})no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        min-height: 500px;">
		<div class="container text-center">
			<h1>Science<span class="m_1">Divide et impera.</span></h1>
		</div>
	</div>
	<div id="overviews" class="section wb">
        <div class="container">
            <hr class="invis">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="{% static 'militaryOS/images/science1.jpg' %}" alt="" class="img-fluid" style="height: 600px;">
						</div>
						<div class="course-br">
							<div class="course-title">
								<a href="https://www.usmcu.edu/Portals/218/Forging%20Wargamers_web_1_1.pdf" title="">
									<h2>Forging Wargamers</h2>
									<h3>A Framework for Professional Military Education</h3>
									<h4>Edited by Sebastian J. Bae</h4>
								</a>
							</div>
							<div class="course-desc">
								<p>Syllabus: The Roman Legionaries (Elite Heavy Infantryman). Red Army Assault Sappers (World War II). EOD Blast Suit (Juggernaut). Buccaneers. Sniper Decoys: Dummy Heads. Janissary (Elite Ottoman Infantry Unit). Spetsnaz (Soviet Afghanistan war).</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="https://www.usmcu.edu/portals/218/Rise and Decline_thumbnail_1.jpg?ver=059NGpo-pNRLRFOHHcmIoQ%3d%3d" alt="" class="img-fluid" style="height: 600px;">
						</div>
						<div class="course-br">
							<div class="course-title">
								<a href="https://www.usmcu.edu/Outreach/Marine-Corps-University-Press/Books-by-topic/MCUP-Titles-A-Z/The-Rise-and-Decline-of-US-Military-Culture-Programs-2004-20/" title="">
									<h2>The Rise and Decline</h2>
									<h3>of U.S. Military Culture Programs, 2004-20</h3>
									<h4>Edited by Kerry F. Fosher, PhD, and Lauren Mackenzie, PhD</h4>
								</a>
							</div>
							<div class="blog-desc">
								<p>This book compiles the insights and findings of some of the most determined and resourceful scientists, scholars, and practitioners engaged in the programs to inculcate the new capabilities in the early twenty-first century. The authors do not gloss over failures and dead ends. Rather, their expectation is that by presenting the bad with the good, they can help future generations engaged in the same task avoid their pitfalls and build on their work. More importantly, the authors hope that their writing might reach those who are still engaged in building cultural capabilities and that they will find encouragement to continue this essential work.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->

			<hr class="hr3">

			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
                    <div class="course-item">
						<div class="image-blog">
							<img src="https://www.usmcu.edu/portals/218/AnnotatedGuidetoTactics_thumbnail.jpg" alt="" class="img-fluid" style="height: 600px;">
						</div>
						<div class="course-br">
							<div class="course-title">
								<a href="https://www.usmcu.edu/Outreach/Marine-Corps-University-Press/Books-by-topic/MCUP-Titles-A-Z/An-Annotated-Guide-to-Tactics/" title="">
									<h2>An Annotated Guide to Tactics</h2>
									<h3>Edited and Annotated by Olivia Garard</h3>
								</a>
							</div>
							<div class="course-desc">
								<p>The philosophy on which the Marine Corps’ seminal warfighting doctrine is based rests on a tradition of professional military scholarship that reaches back to Carl von Clausewitz’s treatise On War. Clausewitz’s lesser-known and often-misunderstood Guide to Tactics, republished here for the first time as a standalone English text with critical annotations, serves as the foundation of the Marine Corps’ warfighting philosophy and provides a guide to thinking about the nature of tactics and combat for the modern warfighter.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
				<div class="col-lg-6 col-md-6 col-12">
                   <div class="course-item">
						<div class="image-blog">
							<img src="https://www.usmcu.edu/portals/218/KhaosCompany_thumbnail.jpg?ver=-5J_c1_u4k8Jz5eK4y2PYA%3d%3d" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<a href="https://www.usmcu.edu/Portals/218/KhaosCompany_web.pdf?ver=OrXc-q-ezsdzMNhbggbHvQ%3d%3d" title="">
									<h2>Khaos Company</h2>
									<h3>A Commander's Account and Lessons Learned from the 2019 MAGTF Warfighting Exercise</h3>
									<h4>By Captain Matthew S. Hanks, USMC, with Williamson Murray, PhD</h4>
								</a>
							</div>
							<div class="course-desc">
								<p>Khaos Company offers a short story written with the intent to provide Marines with the perspective of what it is like to operate and fight at the company- and small-unit levels in operations of such a large scale and scope. This is a story about how a small yet cohesive company of Marines experienced chaos, friction, uncertainty, surprise, failure, success, relationships, and executed the maneuver warfare principles outlined in the Marine Corps’ doctrinal warfighting philosophy.</p>
							</div>
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half"></i>
							</div>
						</div>
					</div>
                </div><!-- end col -->
			</div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}